@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin-left: 10%;
  margin-right: 10%; */
  /* background-color: #1f2937; */
  color: white;
  background-image: url("/grid.svg"),
    radial-gradient(circle, rgba(47, 66, 89, 1) 0%, #1f2937 100%);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
